<!-- Banner -->
<section class="banner {{ .style }}">
    <div class="content">
        {{ with .title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .subtitle }}<p class="major">{{partial "i18n" .}}</p>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        <ul class="actions stacked">
            {{ with .button }}
            <li><a href="#first" class="button primary large wide smooth-scroll-middle">{{partial "i18n" .label}}</a></li>
            {{ end }}
            <!-- i18n_next returns the page object of the next translation of the current page -->
            {{with partial "i18n_next" .Page}}
            <li><a href="{{.RelPermalink}}" class="button primary large wide smooth-scroll-middle">{{.Language.LanguageName}}</a></li>
            {{ end }}
                    </ul>
    </div>
    {{ $alttext := .alt }}
    {{ with resources.Get .image }}
    {{ $width := 1240 }}
    {{ if lt .Width $width }}
	    {{ $width := .Width }}
    {{ end }}
    <div class="image">
    	{{ with .Resize (printf "%dx webp photo" $width) }}
    	<img src="{{ .RelPermalink }}" alt="{{ $alttext }}" />
    	{{ end }}
    </div>
    {{ end }}
</section>
