<head>
	{{ template "_internal/google_analytics.html" . }}
	{{ template "_internal/google_analytics_async.html" . }}	
	<title>{{ .Site.Title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
	<meta name="description" content="">
	<meta name="author" content="">
	{{ if .Site.Params.favicon }}
	{{ partial "favicon" }}
	{{ end }}
	
	<!-- CSS -->
	{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS }}
	{{ if .Site.IsServer }}
	<style>{{ ($style).Content | safeCSS }}</style>
	{{ else }}
	<link rel="stylesheet" href="{{ ($style | minify).RelPermalink }}">
	<style>{{ ($style | minify).Content | safeCSS }}</style>
	{{ end }}
	{{ if .Site.IsServer }}
	{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "css/noscript.css" "enableSourceMap" false) }}
	<noscript><link rel="stylesheet" href="{{ ($noscript).RelPermalink }}" /></noscript>
	{{ else }}
	{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "css/noscript.css" "enableSourceMap" false) }}
	<noscript><link rel="stylesheet" href="{{ ($noscript | minify).RelPermalink }}" /></noscript>
	{{end}}

	<!-- FontAwesome CSS -->
	{{ range .Site.Params.asset.fontawesome_css -}}
		<link rel="stylesheet" href="{{ . | absURL }}">
	{{- end }}

	<!-- FontAwesome JS -->
	{{ range .Site.Params.asset.fontawesome_js -}}
	    <script src="{{ . | absURL }}" crossorigin="anonymous"></script>
	{{- end }}
</head>
