<article>
    {{ $alttext := .alt }}
    {{ with resources.Get .image }}
    {{ with .Resize (printf "%dx%d webp photo" .Width .Height) }}
    <a href="{{ .RelPermalink }}" class="image">
	{{ with .Fill "360x250 webp photo" }}
        <img src="{{ .RelPermalink }}" alt="{{ $alttext }}" />
        {{ end }}
    </a>
    {{ end }}
    {{ end }}
    <div class="caption">
        <h3>{{ partial "i18n" .title | safeHTML }}</h3>
        <p>{{ partial "i18n" .content | safeHTML }}</p>
        <ul class="actions fixed">
            <li><span class="button small">{{ partial "i18n" .button | safeHTML }}</span></li>
        </ul>
    </div>
</article>
