<!-- Spotlight -->
<section class="spotlight {{ .style }}"{{ with .id }} id="{{ . }}"{{ end }}>
    <div class="content">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li><a href="{{ .link }}" class="button">{{ .label }}</a></li>
        </ul>{{ end }}
    </div>
    <div class="image">
    	{{ $alttext := .alt }}
    	{{ with resources.Get .image }}
    	    {{ $width := 868 }}
	    {{ if lt .Width $width }}
		    {{ $width := .Width }}
	    {{ end }}
    	{{ with .Resize (printf "%dx webp photo" $width) }}
    	<img src="{{ .RelPermalink }}" alt="{{ $alttext }}" />
    	{{ end }}
    	{{ end }}
    </div>
</section>
